@import "../../mediaQueries.scss";

.main-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-line;

  &__wheel {
    top: 3%;
  }
}

@media screen and (max-width: $tablet) {
  .main-page {
 
    &__wheel {
      top: 20%;
    }
  }
}

@media screen and (max-width: $tabletVertical) {
  .main-page {
 
    &__wheel {
      top: 30%;
    }
  }
}

@media screen and (max-width: $customMobile) {
  .main-page {
 
    &__wheel {
      top: 45%;
    }
  }
}

@media screen and (max-width: $mobile) {
  .main-page {
 
    &__wheel {
      top: 55%;
    }
  }
}
