@import "../../mediaQueries.scss";

.error-page {
  white-space: pre-line;

  &__text {
    margin: 48px 0 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  &__accent-text {
    color: #ef3124;
  }

  &__btn {
    margin-top: 48px;
  }
}

@media screen and (max-width: $customMobile) {
  .error-page {
    padding: 24px;

    &__text {
      margin: 32px 0 0;
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
    }
  }
}
