@import "../../mediaQueries.scss";

.present-page {
  white-space: pre-line;
  background-color: #e1d9ff;
  background-image: url("../../images/present-page-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__present-container {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 150px 50px 50px;
    width: 650px;
    min-height: 490px;
    background-image: url("../../images/present-container-colored.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;

  }

  &__footnote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
  }

  &__footnote {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 264px;
    height: 264px;
  }
}

.present-page:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/present-page-overlay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: $tabletVertical) {
  .present-page {
    &__present-container {
      padding: 80px 80px 30px;
      width: 500px;
      min-height: 310px;
    }

    &__title {
      font-size: 22px;
      line-height: 30px;
    }

    &__footnote {
      font-size: 12px;
      line-height: 16px;
    }

    &__img {
      width: 150px;
      height: 150px;
    }

    &__logo {
      width: 124px;
      height: 20px;
      bottom: 36px;
    }
  }
}

@media screen and (max-width: $customMobile) {
  .present-page {
    &__present-container {
      padding: 80px 60px 60px;
      width: 100%;
      min-height: 360px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .present-page {
    &__present-container {
      padding: 80px 30px;
    }

    &__title {
      font-size: 18px;
      line-height: 28px;
    }

    &__img {
      width: 120px;
      height: 120px;
    }

    &__logo {
      width: 104px;
      height: 18px;
      bottom: 20px;
    }
  }
}
